---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import duck404 from '../assets/404.webp';

const pageTitle = "Gautier Picon's Portfolio";

const currentPath = Astro.url.pathname;
---

<Layout pageTitle={pageTitle}>
    <div class="flex flex-col items-center justify-center mx-auto text-center gap-5 min-h-screen">
        <Image 
            src={duck404} 
            alt="Duck404" 
            class="max-w-[200px] h-auto block mx-auto" 
        />
        <div class="text-4xl pt-5">
            <span class="font-bold">404:</span> Not found
        </div>
        <pre class="px-4 py-2 bg-gray-800 border border-gray-700 rounded-lg text-sm font-mono text-gray-200">Path: {currentPath}</pre>
    </div>
</Layout>