---
import "../global.css";
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import Duck from '../assets/duck.webp';
---

<Layout>
  <div class="min-h-screen flex flex-col items-center justify-center gap-10">
    <div class="w-20 h-20 flex items-center justify-center overflow-hidden">
      <Image
        src={Duck}
        alt="Duck illustration"
        class="object-contain w-full h-full"
      />
    </div>

    <div class="relative w-full max-w-2xl bg-[#f7f7f7] rounded-3xl p-6 shadow-sm">
      <textarea
        id="messageInput"
        placeholder="Send a message"
        class="w-full h-10 bg-transparent resize-none outline-none border-none text-dark placeholder-gray-400"
      ></textarea>

      <button
        id="sendButton"
        type="button"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2.7"
          stroke="white"
          class="w-4 h-4"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18"
          />
        </svg>
      </button>
    </div>
  </div>

  <script is:inline>
    const textarea = document.getElementById('messageInput');
    const button = document.getElementById('sendButton');

    const updateButtonStyle = () => {
      if (textarea.value.trim() === '') {
        button.className = 'cursor-not-allowed absolute bottom-2 right-2 w-9 h-9 rounded-full flex items-center justify-center bg-gray-200';
      } else {
        button.className = 'cursor-pointer absolute bottom-2 right-2 w-9 h-9 rounded-full flex items-center justify-center bg-black';
      }
    };
    updateButtonStyle();
    textarea.addEventListener('input', updateButtonStyle);
  </script>
</Layout>
