---
import "../global.css";
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import duck from '../assets/duck.webp';

const pageTitle = "Gautier Picon's Portfolio";
---

<Layout pageTitle={pageTitle}>
  <div class="min-h-screen flex flex-col items-center justify-center gap-10">
    <div class="w-25 h-25 flex items-center justify-center overflow-hidden">
      <Image
        src={duck}
        alt="Duck illustration"
        class="object-contain w-full h-full"
      />
    </div>

    <div class="w-full max-w-2xl bg-[#f7f7f7] rounded-3xl shadow-sm flex flex-col">
      <textarea
        id="messageInput"
        placeholder="Send a message"
        rows="1"
        class="w-full min-h-12 bg-transparent resize-none outline-none border-none text-dark placeholder-gray-400 overflow-y-auto px-6 pt-6"
        style="max-height: 12rem;"
      ></textarea>

      <div class="flex justify-end px-2 py-2">
        <button
          id="sendButton"
          type="button"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2.7"
            stroke="white"
            class="w-4 h-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18"
            />
          </svg>
        </button>
      </div>
    </div>

    <div class="-mt-9 text-sm text-gray-500 flex items-center">
      <p>This AI respects the planet and your privacy:</p>
      <a 
        href="/how-it-works" 
        class="underline ml-1">
          find out more
      </a>
    </div>
  </div>

  <script is:inline>
    const textarea = document.getElementById('messageInput');
    const button = document.getElementById('sendButton');

    const updateButtonStyle = () => {
      if (textarea.value.trim() === '') {
        button.className = 'cursor-not-allowed w-9 h-9 rounded-full flex items-center justify-center bg-gray-200';
      } else {
        button.className = 'cursor-pointer w-9 h-9 rounded-full flex items-center justify-center bg-black';
      }
    };

    const autoResize = () => {
      textarea.style.height = 'auto';
      textarea.style.height = textarea.scrollHeight + 'px';
    };

    updateButtonStyle();
    textarea.addEventListener('input', () => {
      updateButtonStyle();
      autoResize();
    });
    autoResize();
  </script>
</Layout>