---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import duckhiw from '../assets/hiw.webp';

const pageTitle = "GP's Portfolio >> HIW";
---

<Layout pageTitle={pageTitle}>
  <div class="flex flex-col items-center max-w-3xl mx-auto px-5 py-5 text-center">
    <h1 class="text-4xl font-bold mb-6">How It Works</h1>

    <Image
      src={duckhiw}
      alt="Duck"
      class="max-w-[250px] h-auto block mx-auto mb-8"
      loading="eager"
    />

    <main class="prose prose-lg text-gray-800 flex flex-col items-center">
      <h2 class="text-3xl font-semibold mb-4">This AI respects the planet and your privacy</h2>

      <p class="mb-6">
        Ecology and respect for user data are two things that are very important to me. This site
        will not betray my values!
      </p>

      <h3 class="text-2xl font-semibold mb-3">Ecology:</h3>

      <p class="mb-6">
        The AI runs on a server that I host myself. Sure, it's less powerful than a real server, but
        it's more than enough for my needs, and it doesn't require water cooling, a ton of
        electricity, or anything else (and it's more fun to do everything yourself rather than just
        making an <a href="https://en.wikipedia.org/wiki/API" class="underline">API</a> request to ChatGPT).
      </p>

      <h3 class="text-2xl font-semibold mb-3">Privacy:</h3>

      <p class="mb-6">
        As mentioned previously, I host the serveur that run the AI. Therefore, nothing goes through
        a third party. I do not keep any conversations that my users have with the AI. Once the page
        is closed, everything disappears!
      </p>

      <p class="mb-6">
        You don't have to take my word for it, which is why all the code is public on my <a
          href="https://github.com/Gautierpicon/Portfolio"
          class="underline">GitHub</a
        > under the <a
          href="https://github.com/Gautierpicon/GP-Portfolio/blob/main/LICENSE.md"
          class="underline">MIT license</a
        > so that anyone can verify it and and modify it.
      </p>
    </main>
  </div>
</Layout>
