---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import ChatInput from '../components/ChatInput.svelte';
import duck from '../assets/duck.webp';

const pageTitle = "Gautier Picon's Portfolio";
---

<Layout pageTitle={pageTitle}>
  <div class="min-h-screen flex flex-col items-center justify-center gap-10">

    <div class="w-25 h-25 flex items-center justify-center overflow-hidden" id="duckImage">
      <Image 
        src={duck} 
        alt="Duck illustration" 
        class="object-contain w-full h-full" 
        loading="eager"
      />
    </div>

    <audio id="quackSound" preload="auto">
      <source src="/quack.mp3" type="audio/mpeg">
    </audio>

    <ChatInput client:load/>

    <div class="-mt-9 text-sm text-gray-500 flex items-center">
      <p>This AI respects the planet and your privacy:</p>
      <a href="/how-it-works" class="underline ml-1">
        find out more
      </a>
    </div>
  </div>

  <script is:inline>
    const duckImage = document.getElementById('duckImage');
    const quackSound = document.getElementById('quackSound');

    duckImage.addEventListener('click', () => {
      quackSound.currentTime = 0;
      quackSound.play();
    });
  </script>
</Layout>